@model Cuenta
@{
    ViewData["Title"] = "Borrar cuenta";
}

<h1>Borrar cuenta: @Model.Nombre</h1>
<h3>¿Está seguro de borrar?</h3>

<form asp-action="BorrarCuenta">
    <input type="hidden" asp-for="Id" />
    <button class=" btn btn-danger" type="submit">Borrar</button>
    <a class=" btn btn-primary" asp-action="Index">Cancelar</a>
</form>
