@model CuentaCreacionViewModel
@{
    ViewData["Title"] = "Crear Cuenta";
}

<h1>Crear Cuenta</h1>
<h5>Distintos balances que tienes: Crédito, Cuenta de ahorro, Préstamos</h5>

<form asp-action="Crear">
    <div asp-validation-summary="ModelOnly" class=" text-danger"></div>


    <div class=" mb-3">
        <label asp-for="Nombre" class=" form-label"></label>
        <input asp-for="Nombre" class=" form-control"/>
        <span asp-validation-for="Nombre" class=" text-danger"></span>
    </div>

    <div class=" mb-3">
        <label asp-for="TipoCuentaId" class=" form-label"></label>
        <select asp-for="TipoCuentaId" asp-items="Model.TiposCuentas" class=" form-select"></select>
        <span asp-validation-for="TipoCuentaId" class=" text-danger"></span>
    </div>

    <div class=" mb-3">
        <label asp-for="Balance" class=" form-label"></label>
        <input asp-for="Balance" class=" form-control" />
        <span asp-validation-for="Balance" class=" text-danger"></span>
    </div>

    <div class=" mb-3">
        <label asp-for="Descripcion" class=" form-label"></label>
        <textarea asp-for="Descripcion" class=" form-control"></textarea>
        <span asp-validation-for="Descripcion" class=" text-danger"></span>
    </div>

    <button type="submit" class=" btn btn-outline-primary">Enviar</button>
    <a class=" btn btn-outline-secondary" asp-action="Index">Cancelar</a>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    // Valida la coma en la vista para decimales en vez del punto
    <script>
            $.validator.methods.number = function (value, element) {
                
              return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)?(?:,\d+)?$/.test(value);
            }
    </script>
}
